@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0 191 99;
  --color-secondary: 52 211 153;
  --color-accent: 59 130 246;
  --color-muted: 107 114 128;
  --color-danger: 239 68 68;
}
